In [2]:
import requests

from bs4 import BeautifulSoup

r=requests.get("http://century21.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/") 
c=r.content

soup=BeautifulSoup(c,"html.parser")

all=soup.find_all("div",{"class":"infinite-item"}) 

# all[0].find("a",{"class":"listing-price"}).text.replace("\n","").replace(" ","")

In [8]:
l=[]
for item in all:
    d={}
    try:
            d["Address"]=item.find("div",{"class":"property-address"}).text.replace("\n","").replace(" ","")
    except:
            print(None)
            
    try:
            d["Price"]=item.find("a",{"class":"listing-price"}).text.replace("\n","").replace(" ","")
    except:
            print(None)
            
    try:       
            d["Beds"]=item.find("div",{"class":"property-beds"}).find("strong").text
    except:
            print(None)
            
    try: 
            d["Baths"]=item.find("div",{"class":"property-baths"}).find("strong").text
    except:
            print(None)       
            
    try:        
            d["Half-baths"]=item.find("div",{"class":"property-half-baths"}).find("strong").text
    except:
            print(None)
    print(" ")
    
    l.append(d)         #将创建的dictionary 加入到library中

None



None

None
None
None
None
None

In [13]:
import pandas                           #通过pandas创建数据表
df=pandas.DataFrame(l)

In [15]:
df

                        Address     Price Beds Baths Half-baths
0  6108WildBuffaloFoothillBlvd.  $184,900    3     3          1
1           2401LittleMoonTrail  $179,900    3     2          1
2                    1307W2ndSt  $139,000    3     1        NaN
3                    344PStreet  $245,000    3     1          1
4                    420Soulsby  $225,000    5     1          1
5             1014PilotButteAve       Ask    2     1        NaN
6                           NaN       NaN  NaN   NaN        NaN

In [21]:
df.to_csv("Output.csv")